In [2]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('Data Preprocessing/Dropletdata for datapreprocessing exercise.csv' , encoding='ISO-8859-1')
df.head()

   Mean droplet size (µm2)  Droplet count  Process interval Category
0                34.597073           1394                 0        U
1                37.834522           1294                 0        U
2                37.423876           1338                 0        U
3                36.133785           1374                 0        U
4                31.652493           1566                 0        U